<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="styles/font-face.css" />
		<link rel="stylesheet" href="styles/brand-icons.css" />
		<style>
			html, body { padding: 0; margin: 0; background: #CECECE; }
			h1 { text-align: center; font-family: "Helvetica", arial; text-transform: uppercase; margin: 1em 0; }
			section { display: flex; padding: 30px; flex-wrap: wrap; justify-content: center; border: 1px solid #DDD; }
			div { flex: 1; text-align: center; border: 1px solid #DDD; padding: 20px; font-size: 3em; align-self: center; flex-basis: 20%; }
			code { display: block; font-size: 0.4em; margin-top: 20px; color: #666; }
		</style>
		<title><%= fontName %></title>
	</head>
	<body>
		<h1><%= fontName %></h1>
		<section>
			<% _.each(glyphs, function(glyph) { %>
				<div>
					<span class="brand-icons brand-icons-<%= glyph.name %>"></span>
					<code><%= glyph.name %></code>
				</div>
			<% }); %>
		</section>
	</body>
</html>
