@mixin <%= cssClass%>-styles {
  font-family: "<%= fontName %>";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}

%<%= cssClass%> {
  @include <%= cssClass%>-styles;
}

@function <%= cssClass%>-char($filename) {
  $char: ""; <% _.each(glyphs, function(glyph) { %>
  @if $filename == <%= glyph.name %> { $char: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>"; }<% }); %>
  @return $char;
}

@mixin <%= cssClass%>($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %<%= cssClass%>;
    } @else {
      @include <%= cssClass%>-styles;
    }
    content: <%= cssClass%>-char($filename);
  }
}

<% _.each(glyphs, function(glyph) { %>.<%= cssClass%>-<%= glyph.name %> { @include <%= cssClass%>(<%= glyph.name %>); }
<% }); %>
